# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
app-hackers/node_modules
app-hackers/.pnp
.pnp.js

# testing
app-hackers/coverage

# next.js
app-hackers/.next/
app-hackers/out/

# production
app-hackers/build

# misc
*.DS_Store
*.pem

# debug
app-hackers/npm-debug.log*
app-hackers/yarn-debug.log*
app-hackers/yarn-error.log*

# local env files
app-hackers/.env.local
app-hackers/.env.development.local
app-hackers/.env.test.local
app-hackers/.env.production.local

# vercel
app-hackers/.vercel

